*.bak
*.cdf
*.done
*.jdi
*.rpt
*.sld
*.smsg
*.srf
*.summary
*.qdf
*.qws
*_description.txt
*.map
*.objdump
db/
incremental_db/
.DS_Store
.qsys_edit/
ModelSim/
simulation/
greybox_tmp/
system_n64adv1/
system_n64adv2/
system_n64adv2_cyclone10lp/
system_n64adv2_cycloneiii/
.metadata/
RemoteSystemsTempFiles/
*BAK*
.cproject
.project
obj/
*/controller_bsp/*
.settings/
hdl_sim/
font/
.force_rebuild
.force_relink
Makefile
meminit.qip
meminit.spd
epcq_controller_0.hex
fir_audio/
fir_audio_sim/
*.bsf
*.cmp
*.spd
*.f
*.ppf
advancedRGBmod/firmware/ip/n64adv*/*/altclkctrl/*
advancedRGBmod/firmware/ip/n64adv2/*/fir_2ch_audio*/*
!software/n64adv2/controller_bsp/settings.bsp

